.load {
  padding: 0.7em 1em;
  margin-top: 1rem;
  justify-self: flex-start;
  grid-column: 1 / -1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  height: fit-content;
  transition: all 250ms;
}

.light.load {
  background-color: var(--lm-btn-bg);
  color: var(--lm-btn-clr);
}

.light.load:focus {
  outline: 2px solid black;
  outline-offset: 1px;
}

.dark.load {
  background-color: var(--dm-btn-bg);
  color: var(--dm-btn-clr);
}

.dark.load:focus {
  outline: 2px solid white;
  outline-offset: 1px;
}

@media only screen and (min-width: 850px) {
  .load {
    width: fit-content;
    font-size: 1.1rem;
  }
}
